version: '3.5'

# This file is an example to build all this images.
# run: docker-compose build

services:
  phalcon-3.4-7.3:
    build: images/3.4/debian-buster/apache-php7.3
    image: talentify/phalcon-framework:3.4-php-7.3-apache-buster
    environment:
      - GCC_ARCH=core-avx-i
      - GCC_TUNE=core-avx-i

  phalcon-3.4-7.4:
    build: images/3.4/debian-buster/apache-php7.4
    image: talentify/phalcon-framework:3.4-php-7.4-apache-buster
    environment:
      - GCC_ARCH=core-avx-i
      - GCC_TUNE=core-avx-i
